

.auth-button {
    font-size: 1.6rem;
    height: 2em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: black;
}

.auth-button:hover{
    font-size: 1.6rem;
    height: 2em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: white;
    color: black
}
.auth-button:focus{
    background-color: white;
    color: black
}


.containerStyle {
    padding-top: 2em;

}
.signInStyle {
    border-radius: 5%;
    height: 37rem;

}

 .buttonStyle{
    font-size: 1.6rem;
    height: 2em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: black;
}

 .imgStyle  {
    border-radius: 5%;
}

.border{
    /* border:2px solid red; */
}