.card-item {
  display: flex;
  padding: 1em 0em 1em 0em;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.cart-zone {
  padding: 2em;
  min-height: 50em;
}
.cards-zone {
  padding: 2em;
}

.card-img {
  max-width: 10em;
  border-radius: 5%;
}
.items-box {
  min-height: 20em;
}

.pay-button {
  background-color: black;
  color: white;
  width: 80%;
  padding: 0.6em 2em;
  letter-spacing: 0.1em;
  padding: 0.6em 2em;
  border-radius: 1em;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  margin: 1em;
}
.pay-button:hover,
.pay-button:focus {
  background-color: #ccada4;
  color: black;
}
.anchor {
  text-decoration: none;
  color: #776464;
  cursor: pointer;
  font-size: 1.2em;
}
.remove-item {
  text-decoration: none;
  color: grey;
  cursor: pointer;
  padding-top: 0.3em;
}
.remove-item:hover {
  color: red;
}
.note-coupon:focus {
  background-color: transparent;
}
