@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200&display=swap');

.media {
  text-decoration-line: underline;
  text-decoration-color: #c7dbee;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}

.media:hover {
  color: grey;
}

.description {
  text-decoration-line: none;
  color: black;
  letter-spacing: 0.05em;
}

.copy-right {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-weight: 900;
}
