



.section-1{
    background:url("../../../img/bg_1.JPG");
    background-size: cover;
    background-position-y: center;
    min-height: 1000px;
  
  }
  .welcome-title{
    font-size: 4.4rem;
    font-weight: bolder;
    color: #ffe7d9;
  }