
.dreamcatcher-card:focus{
    color:black;
}
.dreamcatcher-card:hover{
    color:black;
}
.dreamcatcher-card{
    color:black;
}

.card-button{
    border-radius: 3em;
    border: 1px solid black; 
    width: 100%;
    min-width: 20em;   
    text-align: center;

}
.card-button:hover{
    background-color: black;
    color: white;
}
.card-button:hover span{
    background-color: black;
    color: white;
}
.button-text{
    font-size: 1.2em;
    min-width: 20em; 
    letter-spacing: 0.1em;
}

.material-icons{
    color:black;
    width:10%;
    position: relative;
    top: 0.15em;
    left:0.3em;
}
.details-button{
    background-color: black;
    color: white;
    font-size: 1.5em;
    letter-spacing: 2px;
    min-height: 1em;
    display: block;
    width: 100%;
}
.details-button:hover{
    background-color: white;
    color:black;
}
.details-button:focus{
    background-color: white;
    color:black;
}

.MuiCardContent-root{
    background-color: white;
    color:black;
}
.img-details{
    border-radius: 2em;
}
.details-col{
    padding:3em
}
.MuiDialog-paper{
    min-width: 25em;
    min-height: 25em;
    border-radius: 22em;

}


.cart-link-button{
    background-color: #776464;
    border-radius: 1em;
}
.cart-link-text{
    color:white;
    padding: 0 .2em 0em 0.2em;
    font-size: 1.4em;

}
.shop-link-button{
    background-color: white;
    color:#776464;
    border-radius: 2em;
}
.shop-link-text{
    color:#776464;
    font-size: 1.1em;

}
.MuiTypography-h4{
    background-color: #776464;
    color:white;
    max-height: 6em;
    padding: .5em .2em .5em 0em;

}
.buttons-layout{
    margin: 1em 0 1em 0;
    padding: 0 .5em 0 .5em;
}
