
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



body{
  font-family: 'Varela Round', sans-serif;
}

@media screen and (max-width: 670px) {
  .section-1 {
    min-height: 500px;
  }
}

h3{
  margin:0;
}
.dream-edges{
  background-image: radial-gradient(farthest-corner at 99% 55%,#ffe7d9,white,white);
}
button:focus{
  background-color: #ccada4;
  color:black;
}
::selection{
  background-color:  #ccada4;
}
